<div>Lehele tuleku aeg: {{ currentDate | date:"HH:mm:ss - dd.MM.yyyy" }}</div>
<!-- <div>Protsent: {{ percent * 100 + "%" }}</div> -->
<div>Protsent: {{ percentFromDb | percent }}</div>

<button (click)="backToDbProducts()">{{"remove-filters" | translate}}</button>
<button *ngFor="let category of categories" (click)="filterByCategory(category)">
  {{ category }}
</button>

<div>{{ products.length }} tk</div>

<p>Min value: <input type="number" [(ngModel)]="minValue"></p>
<p>Max value: <input type="number" [(ngModel)]="maxValue"></p>
<ngx-slider 
  (valueChange)="filterProductsByPrice()"
  [(value)]="minValue" 
  [(highValue)]="maxValue" 
  [options]="options">
</ngx-slider>

<button (click)="sortAZ()">{{"home.sortaz" | translate}}</button>
<button (click)="sortZA()">{{"home.sortza" | translate}}</button>
<button (click)="sortPriceAsc()">{{"home.sort-price-asc" | translate}}</button>
<button (click)="sortPriceDesc()">{{"home.sort-price-desc" | translate}}</button>

<div *ngFor="let product of products">
  <div routerLink="/toode/{{product.id}}">
    <img src="{{product.image}}" alt="">
    <div>{{ product.name | uppercase }}</div>
    <div>{{ product.price }} €</div>
  </div>
  <button class="btn btn-primary" (click)="addToCart(product)">{{"home.add-to-cart" | translate}}</button>
</div>

<lib-toastify-toast-container
  [position]="'bottom-right'"
  [autoClose]="3000"
></lib-toastify-toast-container>