<input 
  type="text" 
  [(ngModel)]="searchedProduct" 
  (keyup)="searchProducts()">

<span>{{ products.length }} tk</span>

<br>

<input 
  min="0" 
  max="100" 
  [(ngModel)]="descriptionLetters" 
  type="range">

<span>Kirjelduse tähemärgid: {{ descriptionLetters }}</span>

<input 
  min="0" 
  max="100" 
  [(ngModel)]="descriptionLetters" 
  type="number">

<div *ngFor="let product of products">
  <img src="{{product.image}}" alt="">
  <div>{{ product.name }}</div>
  <div>{{ product.price }} €</div>
  <div>{{ product.id }}</div>
  <div>{{ product.category }}</div>
  <div>{{ product.description | descriptionShortener:descriptionLetters }}</div>
  <div>{{ product.active }}</div>
  <button class="btn btn-primary" routerLink="/admin/muuda-toode/{{product.id}}">Muuda</button>
  <button class="btn btn-danger" (click)="deleteProduct(product)">Kustuta</button>
</div>