.active-product {
  border: 1px solid green;
  background-color: rgb(231, 255, 231);
}

.inactive-product {
  border: 1px solid red;
  background-color: rgb(255, 236, 236);
}

.inactive-product img {
  filter: grayscale(100%);
}

img {
  width: 200px;
  height: 200px;
}