<br><br><br>

<!-- ["Nobe", "Tesla", "Vichy"] -->
<!-- [{nimi: "Nobe", hind: 32}, {nimi: "Tesla", hind: 98}, {nimi: "Vichy", hind: 7} ] -->
<div *ngFor="let toode of tooted; let i = index">

  <div routerLink="/toode/{{i}}">
    <img src="{{ toode.pilt }}" alt="">
    <div>{{ toode.nimi }}</div>
    <div>{{ toode.hind }}</div>
    <div>{{ toode.aktiivne }}</div>
  </div>

  <button (click)="lisaOstukorvi(toode)">Lisa ostukorvi</button>
</div>


<div>------------------------</div>
<br><br><br>

<button (click)="muudaLike(!liked)">Muuda like</button>
<img *ngIf="liked === true" (click)="muudaLike(false)" src="assets/liked.svg" alt="">
<img *ngIf="liked === false" (click)="muudaLike(true)" src="assets/not-liked.svg" alt="">

<br><br>

<div>{{ sonum }}</div>
<div *ngIf="kogus === 10">Maksimum kogus on 10</div>

<button *ngIf="kogus > 0" (click)="nulli()">Nulli</button> <br>
<button [disabled]="kogus === 0" (click)="vahenda()">-</button>
<div>{{ kogus }}</div>
<!-- <button [disabled]="kogus === 10" (click)="suurenda()">+</button> -->
<button (click)="suurenda()">+</button>


<!-- 
  string interpolation
  {{ }} --- mille vahel on muutuja, mida otsitakse .ts failist

-->
